.container{
  width: 500px;
  height: 500px;
}

#tool{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}



.box{
  height: 50%;
  width: 50%;
  background: red;
  border: 1px solid black;
  box-sizing: border-box;
}
